#tbl_login {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 200px;
    height: 100px;
    margin-left: -100px;
    background-color: antiquewhite;
}

#btn_login {
    height: 30px;
    width: 50%;
}

.td_label {
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}
.td_text {
    padding-right: 10px;
}
.td_button {
    text-align: center;
    padding-bottom: 10px;
}